

.canvas-container {
/* height: max-content; */
  /* width: "50vw"; 
  height: "50vh"; */
  background-color: lightseagreen;
}

.Maindiv {
  justify-content: center;
  justify-items: center;
  border: 1px solid red; 
}
h1 {
  /* color: white; */
  text-align: center;
}
body {
  background: #b5cfec;
  justify-items: center;
  justify-self: center;
}

